
.page{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    background-color: #f0f8ff;  
    background-image: url("image.png");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
    
    
  }
  
  #head {
    text-align: center;
    margin-bottom: 20px;
    color: #333;  
  }
  
  
  #contact-form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #373907;  
    border-radius: 5px;   
    background-color: #edef77;  
  }
  
  .box {
    margin-bottom: 5px;
    color: #080808;  
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  input[type="text"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #bb6fe7;  
    border-radius: 3px;
    font-size: 20px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .mybutton {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: #fff;  
    background-color: #088178;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .mybutton:hover {
    background-color:#0a1c46;  
  }


  
